#gameSetup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  padding-top: 100px;
  text-align: center;
  background-color: @blue-main;
  color: @white;

  transition: transform .5s ease-out;
  -webkit-transition: -webkit-transform .5s ease-out;

  .hidden {
    display: none;
  }

  #connecting {
    color: @white;
  }

  #chooseSession {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 20px;

      li {
        padding: 10px;
      }
    }
  }

  &.finished {
    transform: translateY(-100%);
  }
}