@import './imports/colors';
@import './imports/typography';
@import './imports/common';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

@import './gameSetup';
@import './errorToast';